* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


#game-container {
  max-width: 45rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 6px;
  background: linear-gradient(#db5977, #f12947);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;

}

#players{

  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.player {
  border: 2px solid transparent;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.player-name{

  display: inline-block;
  width: 10rem;
  font-size: 1rem;
  color:aliceblue;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem;
  border-radius: 4px;
  text-overflow: ellipsis;
  text-align: center;  
}

.player-symbol{

  margin-left: 1rem;
  font-size: 1rem;
  color:aliceblue;
  text-transform: uppercase;

}

#editButton{
  color: aliceblue;
  background: none;
  border:none;
  
}